<head>
  <style>
    th {
      padding: 20px;
    }

    td{
      padding-left: 20px;
    }

    .container{
      position: absolute;
      top:50%;
      left:50%;
      transform : translate(-50%, -50%);
    }
  </style>

</head>
<body>
<h1 style="width : 100%;; text-align:center;">Filter </h1>

<div class="container">
<br><br>
<div class="container mt-5">
  <div class="form-group">
    <input type="text" class="form-control" style="height: 30px; width: 200px; margin-left: 30%; border: 1px solid black;" placeholder="Search..." [(ngModel)]="filterTerm">

  </div>
  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userRecords | filter:filterTerm">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>